.ant-menu-submenu {
  .ant-menu-title-content {
    color: #213f7d;
    font-weight: 400;
    font-size: 13px;
    font-family: "WorkSans Regular";
  }
}

.ant-menu-item {
  .ant-menu-title-content {
    color: #213f7d;
    font-weight: 400;
    font-size: 13px;
    font-family: "WorkSans Regular";
  }
}

.ant-menu-item-group {
  .ant-menu-item-group-title {
    color: #545f7d;
    font-weight: 500;
    font-size: 12px;
    font-family: "WorkSans Regular";
  }

  .ant-menu-item-group-list {
    .ant-menu-title-content {
      color: #213f7d;
      font-weight: 400;
      font-size: 13px;
      font-family: "WorkSans Regular";
    }
  }
}
