//WorkSans

$font-black: "WorkSans Black";
$font-blackitalic: "WorkSans BlackItalic";
$font-bold: "WorkSans Bold";
$font-bolditalic: "WorkSans BoldItalic";
$font-extrabold: "WorkSans ExtraBold";
$font-extrabolditalic: "WorkSans ExtraBoldItalic";
$font-extralight: "WorkSans ExtraLight";
$font-extralightitalic: "WorkSans ExtraLightItalic";
$font-italic: "WorkSans Italic";
$font-light: "WorkSans Light";
$font-lightitalic: "WorkSans LightItalic";
$font-medium: "WorkSans Medium";
$font-mediumitalic: "WorkSans MediumItalic";
$font-regular: "WorkSans Regular";
$font-semibold: "WorkSans SemiBold";
$font-semibolditalic: "WorkSans SemiBoldItalic";
$font-thin: "WorkSans Thin";
$font-thinitalic: "WorkSans ThinItalic";

//AvenirNext

$font-AvenirNextProBold: "AvenirNext Bold";
$font-AvenirNextProBoldCn: "AvenirNext BoldCn";
$font-AvenirNextProBoldCnIt: "AvenirNext BoldCnIt";
$font-AvenirNextProBoldIt: "AvenirNext BoldIt";
$font-AvenirNextProCn: "AvenirNext Cn";
$font-AvenirNextProCnIt: "AvenirNext CnIt";
$font-AvenirNextProDemi: "AvenirNext Demi";
$font-AvenirNextProDemiCn: "AvenirNext DemiCn";
$font-AvenirNextProDemiCnIt: "AvenirNext DemiCnIt";
$font-AvenirNextProDemiIt: "AvenirNext DemiIt";
$font-AvenirNextProHeavy: "AvenirNext Heavy";
$font-AvenirNextProHeavyCn: "AvenirNext HeavyCn";
$font-AvenirNextProHeavyCnIt: "AvenirNext HeavyCnIt";
$font-AvenirNextProHeavyIt: "AvenirNext HeavyIt";
$font-AvenirNextProIt: "AvenirNext ProIt";
$font-AvenirNextProMedium: "AvenirNext Medium";
$font-AvenirNextProMediumCn: "AvenirNext MediumCn";
$font-AvenirNextProMediumCnIt: "AvenirNext MediumCnIt";
$font-AvenirNextProMediumIt: "AvenirNext MediumIt";
$font-AvenirNextProRegular: "AvenirNext Regular";
$font-AvenirNextProUltLt: "AvenirNext UltLt";
$font-AvenirNextProUltLtCn: "AvenirNext UltLtCn";
$font-AvenirNextProUltLtCnIt: "AvenirNext UltLtCnIt";
$font-AvenirNextProUltLtIt: "AvenirNext UltLtIt";

//Robot
$font-RobotoBlack: "Roboto Black";
$font-RobotoBlackitalic: "Roboto BlackItalic";
$font-RobotoBold: "Roboto Bold";
$font-RobotoBolditalic: "Roboto BoldItalic";
$font-RobotoItalic: "Roboto Italic";
$font-RobotoLight: "Roboto Light";
$font-RobotoLightItalic: "Roboto LightItalic";
$font-RobotoMedium: "Roboto Medium";
$font-RobotoMediumItalic: "Roboto MediumItalic";
$font-RobotoRegular: "Roboto Regular";
$font-RobotoThin: "Roboto Thin";
$font-RobotoThinItalic: "Roboto ThinItalic";
