.appNavbar {
  .navbarSearch {
    input {
      font-family: "WorkSans Regular";
      &::placeholder {
      }
    }

    span {
      button {
        background-color: #39cdcc;
      }
    }
  }

  .navbarLast {
    a {
      text-decoration: underline;
      font-family: "Roboto Regular";
      color: #213f7d;
      font-size: 13px;
    }

    p {
      font-family: "WorkSans Medium";
      font-size: 16px;
      font-weight: 500;
      color: #213f7d;
    }
  }
}

.ant-modal-root {
  .ant-modal-wrap {
    .ant-modal {
      .ant-modal-content {
        padding: 0.5rem;
       .ant-modal-body{
        margin-top: 2rem;
        .ant-menu{
          width:100%!important;
          border:0;
         }
       }
      }
      .ant-modal-footer{
        .ant-btn-default{
          font-weight: 400;
          font-size: 13px;
          font-family: "WorkSans Regular";
        }
        .ant-btn-primary{
          background-color: #213f7d;
          color:white;
          font-weight: 400;
          font-size: 13px;
          font-family: "WorkSans Regular";
        }
      }
    }
  }
}

@media (max-width: 1022px) {
  .appNavbar {
    padding: 1rem;

    .navbarSearch {
      display: none;
    }
    .navbarLast {
      width: 40%;
      justify-content: space-evenly;
      margin: 0;
      a {
        margin: 0;
      }
      img {
        margin: 0;
      }
      .dropImg {
        margin: 0.5rem 0rem 0rem 0.5rem;
      }
    }
  }
  .mobileNav {
    display: block;
    padding: 1rem;
  }
}

@media (max-width: 686px) {
  .appNavbar {
    .navbarLast {
      a {
        display: none;
      }
      .bellImg {
        display: none;
      }
      .searchImg {
        display: none;
      }
    }
    .navbarSearch {
      display: none;
    }
  }
}
