.appMenu {
  .mainDiv {
    .sideBar {
      background-color: #fbfbfb;
    }
  }
}
@media (max-width: 1189px) {
  .appMenu {
    .mainDiv {
      .sideBar {
        padding: 1rem;
      }
    }
  }
}

@media (max-width: 1022px) {
  .appMenu {
    .mainDiv {
      .ant-menu {
        display: none;
      }
      .sideBar {
        padding: 1rem;
      }
    }
  }
}
